VITE_API_URL=http://localhost:5000
VITE_STRIPE_PUBLISHABLE_KEY=pk_test_placeholder_key
VITE_IMGBB_API_KEY=placeholder_imgbb_key
VITE_FIREBASE_APIKEY=placeholder_api_key
VITE_FIREBASE_AUTHDOMAIN=placeholder_auth_domain
VITE_FIREBASE_PROJECTID=placeholder_project_id
VITE_FIREBASE_STORAGEBUCKET=placeholder_storage_bucket
VITE_FIREBASE_MESSAGINGSENDERID=placeholder_sender_id
VITE_FIREBASE_APPID=placeholder_app_id
